<section>
  <div class="header">
    <img src="images/user-icon.png" alt="Twimp creator avatar">
    <a href="http://www.campusmvp.es">by David</a>
    <div class="date">Published on 01/01/2024</div>
  </div>
  <div class="content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates corporis, laudantium voluptatem ex recusandae
    sint placeat reiciendis at ad dolores eius, velit laborum nam vero dolore quas asperiores amet? Rem.
  </div>
  <hr class="line">
  <div class="fav">
    <button class="icon icon-selected">🤍</button>
  </div>
</section>
<section>
  <div class="header">
    <img src="images/user-icon.png" alt="Twimp creator avatar">
    <a href="http://www.campusmvp.es">by David</a>
    <div class="date">Published on 01/01/2024</div>
  </div>
  <div class="content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates corporis, laudantium voluptatem ex recusandae
    sint placeat reiciendis at ad dolores eius, velit laborum nam vero dolore quas asperiores amet? Rem.
  </div>
  <hr class="line">
  <div class="fav">
    <button class="icon icon-selected">🩷</button>
  </div>
</section>
<section>
  <div class="header">
    <img src="images/user-icon.png" alt="Twimp creator avatar">
    <a href="http://www.campusmvp.es">by David</a>
    <div class="date">Published on 01/01/2024</div>
  </div>
  <div class="content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates corporis, laudantium voluptatem ex recusandae
    sint placeat reiciendis at ad dolores eius, velit laborum nam vero dolore quas asperiores amet? Rem.
  </div>
  <hr class="line">
  <div class="fav">
    <button class="icon icon-selected">🩷</button>
  </div>
</section>
<section>
  <div class="header">
    <img src="images/user-icon.png" alt="Twimp creator avatar">
    <a href="http://www.campusmvp.es">by David</a>
    <div class="date">Published on 01/01/2024</div>
  </div>
  <div class="content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates corporis, laudantium voluptatem ex recusandae
    sint placeat reiciendis at ad dolores eius, velit laborum nam vero dolore quas asperiores amet? Rem.
  </div>
  <hr class="line">
  <div class="fav">
    <button class="icon icon-selected">🤍</button>
  </div>
</section>
