.container {
  max-width: 768px;
  margin: 0 auto 1em auto;
  border-radius: 15px;
  background-color: white;
  border-top: 75px solid #d94f5c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author_data {
  background-color: white;
  border-radius: 4px 0px;
}

img {
  box-sizing: border-box;
  border-radius: 15px;
  width: 140px;
  border: 5px solid white;
  margin-top: 1rem;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.35);
}

p {
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  width: 140px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline;
}

a {
  display: inline-block;
  padding: 0.5em;
  background-color: white;
  color: #666;
  margin-right: 0.2em;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #d94f5c;
  font-weight: bold;
}

.selected a {
  color: #d94f5c;
  font-weight: bold;
  border-bottom: 4px solid #d94f5c;
}
