main {
  width: 90%;
  margin: 1em auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.35);
  padding: 3em;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  max-width: 150px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

fieldset {
  box-sizing: border-box;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  border: 5px solid #d94f5c;
  border-radius: 1em;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 0.8em;
}

.info {
  font-size: 0.8em;
  text-align: left;
}

button {
  box-sizing: border-box;
  width: 30%;
  padding: 1em;
  border: none;
  border-radius: 5px;
  background-color: #d94f5c;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
