<section>
  <div class="header">
    <img [src]="tweemp.author.image" alt="Tweemp author avatar">
    <a [href]="tweemp.author.url">by {{tweemp.author.fullName}}</a>
    <div class="date">Published at {{tweemp.timestamp | date: 'dd/MM/yyyy HH:mm'}}</div>
  </div>
  <div class="content">{{tweemp.content}}</div>
  <hr class="line">
  <div class="fav">
    @if (tweemp.isFavourite) {
    <button class="icon icon-selected" (click)="toggleFavourite()">🩷</button>
    } @else {
    <button class="icon" (click)="toggleFavourite()">🤍</button>
    }
  </div>
</section>
