header {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
}

#logo img {
  width: 200px;
  margin-top: 1em;
  margin-left: 1em;
}

#register {
  margin-top: 1em;
  margin-right: 1em;
  text-decoration: none;
  color: black;
}
