header {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
}

.center {
  justify-content: center;
}

#logo img {
  width: 200px;
  margin-top: 1em;
  margin-left: 1em;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

#avatar {
  width: 60px;
  border-radius: 50%;
  margin-top: 1em;
  margin-right: 1em;
}
